.transition-3 {
  transition: 0.3s;
}

.box-shadow_v1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-shadow_v2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-rgba-white {
  background-color: rgba($color: white, $alpha: 0.9);
}
